@font-face {
 font-family: "Pudelinka";
 src: url("Fonts/pudelinka.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

body {
 background-color: #7AC7D9;
 margin-left: 20%;
 margin-right: 20%;
 border: 2px dotted black;
 padding: 10px;
 font-family: sans-serif;
}

blockquote.q {
 color: #660099;
 border-left: 4px solid #000080;
 font-style: italic;
 padding-left: 16px;
 margin-left: 0;
}

p.quote {
 font-family: "Pudelinka", cursive;
}
